@import url('./styles.css');

.dashboard {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poll-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.poll-category {
    /* border: 1px solid gray; */
    margin: 4rem;
    padding: 1rem;
    border-bottom: 3px solid var(--fadedAcsentColor);
    box-shadow: 2px 2px 15px var(--primaryLightColor);
}