@import url('./styles.css');

.dashboard {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poll-categories {
    width: 75%;
    padding: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.poll-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.poll-category {
    /* border: 1px solid gray; */
    margin: 4rem;
    border-bottom: 3px solid var(--fadedAcsentColor);
    box-shadow: 2px 2px 15px var(--primaryLightColor);
}

.new-cat, .done-cat {
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 15px lightgray, 5px 5px 5px lightgray;
}

.poll-categories > .selected {
    color: var(--acsentColor);
    background-color: var(--primaryDarkColor);
    box-shadow: 1px 1px 10px var(--acsentColor), 2px 2px 5px lightgray;
}