@import url("./colors.css");
@import url("./styles.css");

.login {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 65% 35%;
}

.login img {
    border-radius: 0 30px 30px 0;
    width: 100%;
    height: 100%;
}

.login .form-wrapper {
    background-color: var(--primaryLightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightgray, 5px 5px 5px lightgray;
    /* border: 1px solid var(--acsentColor); */
}

.login input:focus {
    box-shadow: 1px 1px 5px lightgray, 5px 5px 5px var(--fadedAcsentColor);
}

.login .submit-btn {
    width: 70%;
    border: 0;
    outline: 0;
    padding: 0.75rem;
    margin: 1rem;
    border-radius: 10px;
    color: var(--acsentColor);
    background-color: var(--primaryDarkColor);
    box-shadow: 5px 5px 5px lightgray;
}

.login .submit-btn:hover {
    font-weight: bold;
    border: 1px solid var(--acsentColor);
    box-shadow: 1px 1px 15px var(--acsentColor), 2px 2px 2px var(--primaryLightColor);
}

.login h1 {
    font-size: 3rem;
    padding: 1rem;
}