@import url("./styles.css");

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    box-shadow: 10px 10px 15px var(--primaryLightColor);
}

.nav > ul {
    padding: 0;
    list-style-type: none;
    margin: 0 1rem;
    
}

.nav-item {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.user-id {
    margin: 0.2rem;
}

.left-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item.selected {
    border-bottom: 3px solid var(--primaryDarkColor);
}

#nav-link-logout:hover {
    border-radius: 20px;
    color: var(--acsentColor);
    border: 1px solid var(--acsentColor);
    background-color: var(--primaryDarkColor);
    box-shadow: 1px 1px 15px var(--acsentColor);
}